/* banner */
.banner {
    background-color: #f39c39;
}

.subnav ul li a {
    color: #fff;
}

.ttl {
    background-color: rgba(0, 0, 0, 0.2);
}
.ttl h2 {
    color: #f39c39;
}
.ttl .pic {
    background: url(../image/fruits.jpeg) no-repeat top center;
}

.special h2 {
    color: #fff;
    border-bottom: 2px solid #ff8800;
} 

.bd ul li {
    padding-top: 20px;
}
.bd ul li a {
    font-size: 16px;
    color: rgb(71, 59, 59);
}
