/* banner */
.banner {
    background-color: #f7ecd7;
}

.subnav ul li a {
    color: rgb(71, 59, 59);
}

.ttl {
    background-color: rgba(0, 0, 0, 0.2);
}
.ttl h2 {
    color: rgb(71, 59, 59);
}
.ttl .pic {
    background: url(../image/milkeggs.jpeg) no-repeat top center;
}

.special h2 {
    color: rgb(71, 59, 59);
    border-bottom: 2px solid #fff;
} 

.bd ul li {
    padding-top: 20px;
}
.bd ul li a {
    font-size: 14px;
    color: rgb(71, 59, 59);
}
