@charset "utf-8";
/* Large devices (desktops, less than 1220px) */
@media screen and (max-width: 1219px) {
    .w {
        width: 1000px;
        margin: auto;
    }
    
    /* topbar */
    #topbar .content {
        width: 1000px;
    }

    /* searchbar */
    .searchbar .w .gerocery {
        width: 164px;
    }
    .searchbar .w .dropdown_content {
        min-width: 164px;
    }
    .searchbar input {
        width: 750px;
    }
    .searchbar .search {
        width: 82px;
    }
}

/* Medium devices (tablets, less than 960px) */
@media screen and (max-width: 959px) {
    .w {
        width: 750px;
        margin: auto;
    }

    /* topbar */
    #topbar .content {
        width: 750px;
    }

    /* searchbar */
    .searchbar .w .gerocery {
        width: 123px;
    }
    .searchbar .w .dropdown_content {
        min-width: 123px;
    }
    .searchbar input {
        width: 562px;
    }
    .searchbar .search {
        width: 61px;
    }
    
    /* item-cart */
    .total-price {
        height: 280px;
    }
    .total-price .cs {
        height: 40px;
    }
    .total-price .ea {
        height: 40px;
    }
    .total-price .checkout {
        height: 40px;
    }
    
    /* footer */
    .copyright .app {
        width: 100px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    .links dl {
        float: left;
        margin-left: 30px;
        margin-right: 20px;
    }
    .links dl dt {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .links dl dd {
        margin-top: 10px;
        font-size: 12px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767px) {
    .w {
        width: 460px;
        margin: auto;
    }
    
    /* topbar */
    #topbar .content {
        width: 460px;
    }

    /* searchbar */
    .searchbar .w .gerocery {
        width: 100%;
        margin-bottom: 20px;
    }
    .searchbar .w .dropdown_content {
        min-width: 100%;
    }
    .searchbar input {
        width: 398px;
        margin-top: 220px;
    }
    .searchbar .search {
        width: 58px;
        margin-top: 220px;
    }

    /* item-cart */
    .total-price {
        width: 35%;
        height: 236px;
    }
    .total-price td{
        font-size: 12px;
    }
    .total-price .ea {
        font-size: 12px;
        height: 32px;
    }
    .total-price .cs {
        font-size: 12px;
        height: 32px;
    }
    .total-price .checkout {
        font-size: 12px;
        height: 32px;
    }

    /* footer */
    .footer {
        height: 60px;
    }
    .footer .w {
        padding-top: 6px;
    }
    .copyright p {
        font-size: 16px;
        margin: 10px 0 10px 0;
    }
    .copyright .app {
        display: none;
    }
    .copyright img {
        display: none;
    }
    .links {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 480px) */
@media screen and (max-width: 479px) {
    .w {
        width: 308px;
        margin: auto;
    }
    
    /* topbar */
    #topbar .content {
        width: 308px;
    }
    #topbar .content ul {
        width: 240px;
        margin-right: 4px;
        margin-top: 8px;
    }
    #topbar .content ul li a {
        font-size: 12px;
        line-height: 26px;
        padding-left: 8px;
    }
    #topbar .content ul li span {
        font-size: 12px;
    }

    /* searchbar */
    .searchbar .w .dropdown_content {
        min-width: 100%;
    }
    .searchbar .w .dropdown_content:hover {
        background-color: #ff8800;
    }
    .searchbar input {
        width: 256px;
        margin-top: 220px;
    }
    .searchbar .search {
        width: 48px;
        margin-top: 220px;
    }

    /* item-cart */
    .total-price {
        height: 280px;
    }
    .total-price .ea {
        width: 100%;
     }
    .total-price .cs {
       width: 100%;
       margin-top: 1px;
    }

    /* footer */
    .footer {
        height: 50px;
    }
    .footer .w {
        padding-top: 6px;
    }
    .copyright p {
        font-size: 12px;
        margin: 10px 0 10px 0;
    }
    .copyright .app {
        display: none;
    }
    .copyright img {
        display: none;
    }
    .links {
        display: none;
    }
}
