* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1220px;
    margin: auto;
}
body {
    font-family: "Microsoft YaHei UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #faf6f6;
    background-color:#f3f5f7;
    background-repeat: no-repeat;
    background-position: center 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 20px;
    color: rgb(71, 59, 59);
}
h2 {
    font-size: 18px;
    color: rgb(71, 59, 59);
}
h3 {
    font-size: 18px;
    color: #ff8800;
}
p {
    font-size: 16px;
    color: rgb(71, 59, 59);
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
 }
 .clearfix::after {
    clear: both;
 }
 .clearfix {
     *zoom:1;
 }

 /* topbar */
 
 #topbar .content {
    width: 1220px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
}
#topbar .content ul {
    float: right;
    width: auto;
    margin-right: 16px;
}
.logo {
    /* fload should be added to every part in the same box */
    float: left;
    width: 46px;
    height: 46px;
}
#topbar .content ul li {
    float: left;
}
#topbar .content ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
}
#topbar .content ul li span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}
#topbar .content ul li a:hover {
    text-decoration: none;
    color: #ff8800;
}

/* searchbar */
.searchbar {
    height: 60px;
}
.searchbar .w {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
}
.searchbar .w .gerocery {
    cursor: pointer;
    float: left;
    height: 38px;
    width: 200px;
}
.searchbar .w .dropdown_content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: transparent;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.searchbar .w .dropdown_content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.searchbar .w .dropdown_content a:hover {
    background-color: #ff8800;
}
.w:hover .dropdown_content {
    display: block;
}
.w:hover .gerocery {
    background-color: #ff8800;
}
.searchbar input {
    float: left;
    height: 34px;
    width: 916px;
}
.searchbar .search {
    float: left;
    height: 38px;
    width: 100px;
}

/* header */
.header {
    height: 220px;
}
.header .w {
    height: 220px;
}

/* item */
.box {
    height: 600px;
}
.box .w {
    height: 600px;
}
.box .w .picture {
    position: relative;
    float: left;
    width: 500px;
    height: 500px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.1);
}
.box .w .picture em img {
    position: absolute;
    width: 18%;
    height: 18%;
    top: 0;
    right: 0;
}
.box .w .picture img {
    width: 100%;
    height: 100%;
}
.box .w .dis {
    float: left;
    width: 600px;
    height: 500px;
	text-align: justify;
	margin-top: 50PX;
	padding-left: 60px;
}
.box .w .number {
    margin-top: 12px;
}
.box .w .tag {
    margin-top: 16px;
}
.box .w .price {
    margin-top: 16px;
    color: rgb(71, 59, 59);
}
.box .w .sp {
    margin-top: 16px;
}
.box .w .qua {
    margin-top: 16px;
    margin-bottom: 10px;
}
.box .w .na {
    margin-bottom: 16px;
}
.box .w input {
    width: 200px;
    height: 30px;
}
.box .w #add {
    width: 60px;
    height: 34px;
}
.box .w .pd {
    padding-top: 10px;
    padding-bottom: 10px;
}
.box .w #showmore {
    width: 80px;
    height: 26px;
    margin-bottom: 10px;
}

/* footer */
.footer {
    height: 200px;
}
.footer .w {
    padding-top: 30px;
}
.copyright {
    float: left;
}
.copyright p {
    margin: 20px 0 15px 0;
    font-size: 12px;
    color: #fff;
}
.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 33px;
    margin-top: 20px;
}
.links {
    float: right;
}
.links dl {
    float: left;
    margin-left: 100px;
    margin-right: 20px;
}
.links dl dt {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}
.links dl dd {
    margin-top: 10px;
    font-size: 14px;
}
.links dl dd a {
    color: #fff;
}
