#topbar {
    background-color: #0096FF;
 }

.searchbar .w .dropdown_content a {
    color: #000;
}

.header .w {
    background: url(../image/fishbanner.jpg) no-repeat top center;
}

/* footer */
.footer {
    background-color: #0096FF;
}