#topbar {
    background-color: grey;
 }

.searchbar .w .dropdown_content a {
    color: #000;
}

.header .w {
    background: url(../image/fruitbanner.jpeg) no-repeat top center;
}

/* footer */
.footer {
    background-color: grey;
}