#topbar {
    background-color: grey;
 }

.searchbar .w .dropdown_content a {
    color: rgb(71, 59, 59);
}

.header .w {
    background: url(../image/milkbanner.jpeg) no-repeat top center;
}

/* footer */
.footer {
    background-color: green;
}