#topbar {
    background-color: green;
 }

.searchbar .w .dropdown_content a {
    color: #000;
}

.header .w {
    background: url(../image/vegetable.jpeg) no-repeat top center;
}

/* footer */
.footer {
    height: 200px;
    background-color: green;
}